scoutmaster/.classpath
scoutmaster/.settings/com.vaadin.integration.eclipse.prefs
scoutmaster/.settings/org.eclipse.core.resources.prefs
scoutmaster/.settings/org.eclipse.jdt.core.prefs
scoutmaster/.settings/org.eclipse.jpt.core.prefs
scoutmaster/.settings/org.eclipse.wst.common.component
scoutmaster/.settings/org.eclipse.wst.common.project.facet.core.xml
scoutmaster/.settings/org.eclipse.wst.validation.prefs

