<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>Vaadin Web Application</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>


	<!-- context-param> <param-name>vaadin.theme</param-name> <param-value>scoutmaster</param-value> 
		</context-param -->

	<listener>
		<listener-class>au.org.scoutmaster.application.ContextListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>au.org.scoutmaster.application.LocalEntityManagerContextListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>au.org.scoutmaster.application.SessionListener
		</listener-class>
	</listener>

	<!-- per request Entity Manager injection -->


	<filter>
		<filter-name>EntityManagerInjectorFilter</filter-name>
		<filter-class>au.com.vaadinutils.servlet.EntityManagerInjectorFilter
		</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>EntityManagerInjectorFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Vaadin servlet - where the action happens -->
	<servlet>
		<servlet-name>Scoutmaster Private Application Servlet</servlet-name>
		<servlet-class>au.org.scoutmaster.servlets.VaadinServlet</servlet-class>
		<init-param>
			<description>Scoutmaster Private UI</description>
			<param-name>UI</param-name>
			<param-value>au.org.scoutmaster.application.NavigatorUI</param-value>
		</init-param>
		<init-param>
			<param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
			<!-- comma-separated list of fully-qualified class names -->
			<param-value>au.org.scoutmaster.servlets.AtmosphereFilter
			</param-value>
		</init-param>

		<init-param>
			<param-name>pushmode</param-name>
			<param-value>automatic</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>

	<!-- Vaadin servlet - this is the public interface -->
	<servlet>
		<servlet-name>Scoutmaster Public Application Servlet</servlet-name>
		<servlet-class>au.org.scoutmaster.servlets.VaadinServlet</servlet-class>
		<init-param>
			<description>Scoutmaster Public UI</description>
			<param-name>UI</param-name>
			<param-value>au.org.scoutmaster.application.PublicUI</param-value>
		</init-param>
		<init-param>
			<param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
			<!-- comma-separated list of fully-qualified class names -->
			<param-value>au.org.scoutmaster.servlets.AtmosphereFilter
			</param-value>
		</init-param>
		<init-param>
			<param-name>pushmode</param-name>
			<param-value>automatic</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>


	<servlet>
		<servlet-name>JasperImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet
		</servlet-class>
	</servlet>

<!-- 
	<servlet-mapping>
		<servlet-name>JasperImageServlet</servlet-name>
		<url-pattern>/jasperImages/*</url-pattern>
	</servlet-mapping>
-->
	
	<servlet>
		<servlet-name>VaadinJasperPrintServlet</servlet-name>
		<servlet-class>au.com.vaadinutils.jasper.servlet.VaadinJasperPrintServlet
		</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>VaadinJasperPrintServlet</servlet-name>
		<url-pattern>/VaadinJasperPrintServlet</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>StaticContentServlet</servlet-name>
		<servlet-class>au.com.vaadinutils.servlet.StaticContentServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaticContentServlet</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Scoutmaster Public Application Servlet</servlet-name>
		<url-pattern>/public/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Scoutmaster Private Application Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
